

.body
{
    background-color: rgba(244, 248, 0, 0.349);
}

.header
{
    width: 100%;
    height: 50px;
    background-color: lightblue;
    border: 2px solid navy;
    font-size: 30pt;
    text-align: center;
    border-radius: 10px;
}

.main
{
    background-color: lightblue;
    border: 2px solid navy;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    
}
.subsection
{
    
    /* width: 100%; */
    /* height: 300px; */
    width:100%;
    display: inline-block;
    background-color: rgb(26, 216, 111);
    border: 2px solid rgb(0, 0, 0);
    margin: 10px;
}

.subsection_heading
{
    text-align: center;
    width: 100%;
}

.subsection_text
{   
    /* height: 20px;*/
    width : 100%;
    border: 2px solid rgb(0, 0, 0);
    word-wrap: break-word; 
    /* float:left; */
} 

.image_placeholder
{
    /* width: 25%; */
    /* height: 100px; */
    background-color: rgb(44, 0, 240);
    border: 2px solid rgb(0, 0, 0);
    margin: 1%;
    color:white;
    float:left;
   
}



.footer
{
    font-size: 10pt;
    width: 100%;
    height: 100px;
    background-color: lightblue;
    border: 2px solid navy;
    text-align: center;
}



.carousel-container {
    width: 100%;
    overflow: hidden;
    position: relative;
}

.carousel {
    display: flex;
    transition: transform 0.5s ease;
}

.slide {
    flex: 0 0 25%; /* Display 4 slides at a time (adjust as needed) */
    max-width: 25%;
    padding: 10px;
    box-sizing: border-box;
}

.slide img {
    width: 100%;
    height: auto;
}

button {
    margin-top: 10px;
}
